In [1]:
import json
import pandas as pd
import datetime as dt
import os

#### Preparation: Load in Spotify Million Playlist dataset
Data sourced from https://www.aicrowd.com/challenges/spotify-million-playlist-dataset-challenge#dataset </br>
Uncomment cells in this section to source a working csv file

In [79]:
# #file names - create list of flie strings to leverage in loops
# file_list = []
# for file in os.listdir('..\data\Spotify\data'):
#     file_name = '..\\data\\Spotify\\data\\' + os.fsdecode(file)
#     file_list.append(file_name)
# # file_list

In [65]:
# #establish empty df 
# spotify_data = pd.DataFrame() #columns = ['name', 'collaborative', 'pid', 'modified_at', 'num_tracks', 'num_albums', 'num_followers', 'tracks', 'num_edits','duration_ms', 'num_artists', 'description'])

In [66]:
# #read in data to a the dataset
 
# for file in file_list: #for loop to iterate through files
#     x = 0 # identifies the file in the file list, starting with first file (index 0)
#     with open(file_list[x]) as data_file:
#         d = json.load(data_file)
#         df = pd.json_normalize(d['playlists'])
#         df = df.explode('tracks')
#         df = pd.DataFrame(df)
#         df.modified_at = pd.to_datetime(df.modified_at, unit = 's')
#         df = df[df.num_edits <= 3]
#         spotify_data = pd.concat([spotify_data, df])
#     x = x+1

In [80]:
# #save the cleaned dataframe as a csv
# spotify_data.to_csv('..\data\Spotify\relevant_playlists.csv')

KeyboardInterrupt:

In [82]:
spotify_working = pd.read_csv(r'..\data\Spotify\relevant_playlists.csv')

In [101]:
spotify_working.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603295 entries, 0 to 603294
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     603295 non-null  int64
 1   name           603295 non-null  object
 2   collaborative  603295 non-null  bool
 3   pid            603295 non-null  int64
 4   modified_at    603295 non-null  object
 5   num_tracks     603295 non-null  int64
 6   num_albums     603295 non-null  int64
 7   num_followers  603295 non-null  int64
 8   tracks         603295 non-null  object
 9   num_edits      603295 non-null  int64
 10  duration_ms    603295 non-null  int64
 11  num_artists    603295 non-null  int64
 12  description    10324 non-null   object
dtypes: bool(1), int64(8), object(4)
memory usage: 55.8+ MB

In [108]:
spotify_working.head()

,Unnamed: 0,name,collaborative,pid,modified_at,num_tracks,num_albums,num_followers,tracks,num_edits,duration_ms,num_artists,description
0,5,Wedding,False,5,2015-05-07,80,71,1,"{'pos': 0, 'artist_name': 'Cali Swag District'...",3,19156557,56,NaN
1,5,Wedding,False,5,2015-05-07,80,71,1,"{'pos': 1, 'artist_name': 'Miley Cyrus', 'trac...",3,19156557,56,NaN
2,5,Wedding,False,5,2015-05-07,80,71,1,"{'pos': 2, 'artist_name': 'LMFAO', 'track_uri'...",3,19156557,56,NaN
3,5,Wedding,False,5,2015-05-07,80,71,1,"{'pos': 3, 'artist_name': 'Vanilla Ice', 'trac...",3,19156557,56,NaN
4,5,Wedding,False,5,2015-05-07,80,71,1,"{'pos': 4, 'artist_name': 'The Isley Brothers'...",3,19156557,56,NaN

In [127]:
spotify_working.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603295 entries, 0 to 603294
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     603295 non-null  int64
 1   name           603295 non-null  object
 2   collaborative  603295 non-null  bool
 3   pid            603295 non-null  int64
 4   modified_at    603295 non-null  object
 5   num_tracks     603295 non-null  int64
 6   num_albums     603295 non-null  int64
 7   num_followers  603295 non-null  int64
 8   tracks         603295 non-null  object
 9   num_edits      603295 non-null  int64
 10  duration_ms    603295 non-null  int64
 11  num_artists    603295 non-null  int64
 12  description    10324 non-null   object
dtypes: bool(1), int64(8), object(4)
memory usage: 55.8+ MB

In [137]:
#

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]